CONFIG_TARGET_bcm27xx=y
CONFIG_TARGET_bcm27xx_bcm2709=y
CONFIG_TARGET_bcm27xx_bcm2709_DEVICE_rpi-2=y
# CONFIG_PACKAGE_cypress-firmware-43455-sdio is not set
# CONFIG_PACKAGE_cypress-nvram-43430-sdio-rpi-3b is not set
CONFIG_PACKAGE_cypress-nvram-43430-sdio-rpi-zero-w=y
# CONFIG_PACKAGE_cypress-nvram-43455-sdio-rpi-3b-plus is not set
# CONFIG_PACKAGE_cypress-nvram-43455-sdio-rpi-4b is not set
